/* Font section */

th {
      font-weight: bolder;
    }

td {
      font-weight: bold;
    }

/* Colors section */

th {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

td {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px; 
  

}


tr.row1 > th.row1col0 {
  background-color: #99ffff;
  border-right: 1px solid #666666;

}


th.vhead0 {
  border-right: 1px solid #666666;
  width: 39px !important;
}

th.vhead1 {
  border-right: 1px solid #666666;
  width: 39px !important;
}

th.hhead0 {
    border-bottom: 1px solid #666666;
}
th.hhead1 {
    border-bottom: 1px solid #666666;
 background-color: rgba(80,80,80,0.2);
}


td.row0col1 {
  background-color: rgba(80,80,80,0.2);
}


td.row1col1 {
  background-color: rgba(80,80,80,0.2);
}

table.cardTable {
  border: 0px solid #666666;
  font-family: monospace;
  font-size: 9px;
/*  font-weight: bold;*/
  text-align: center;
  width: 3in;
  height: 2in;
  padding:0px;
  margin-left:4px;
  margin-right:4px;
  margin-top:4px;
  margin-bottom:4px;
  border-collapse: collapse;
}

div.cardDiv {
  width: 3.125in;
  height: 2.125in;
  border: 1px solid  #bfbfbf;
  border-radius: 20px;
    -moz-border-radius: 20px;
}

div#genKey {
    width: 500px;
    /*float: center;*/
    margin: auto;
}


#tr1 {
  background-color: hsl(0,100%,75%) !important;
}

#tr2 {
  background-color: hsl(60,100%,75%) !important;
}


#tr3 {
  background-color: hsl(120,100%,75%) !important;
}

#tr4 {
  background-color: hsl(180,100%,75%) !important;
}

#tr5 {
  background-color: hsl(240,100%,75%) !important;
}

#tr6 {
  background-color: hsl(300,100%,75%) !important;
}

#tr7 {
  background-color: hsl(360,100%,75%) !important;
}

#tr8 {
  background-color: hsl(30,100%,75%) !important;
}

#tr9 {
  background-color: hsl(90,100%,75%) !important;
}

#tr10 {
  background-color: hsl(150,100%,75%) !important;
}

#tr11 {
  background-color: hsl(210,100%,75%) !important;
}

#tr12 {
  background-color: hsl(270,100%,75%) !important;
}