tr.evenrow {
  background-color: #99ff99;
}
td.evencol {
  background-color: #ccffff;
}
table.pwCard {
  border: 1px solid #666666;
  font-size: x-small;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
th {
  border-bottom-color: #666666;
  font-weight: bolder;
}
tr#row0 {
  border-bottom: 1px solid #666666;
}
